/.ScannerDescriptionLabelProvider.java._trace
/.ScannerDescriptionLabelProvider.xtendbin
/.ScannerLabelProvider.java._trace
/.ScannerLabelProvider.xtendbin
/ScannerDescriptionLabelProvider.java
/ScannerLabelProvider.java
