<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Compiler"
            id="Compiler Wizards">
      </category>
      <wizard
            category="Compiler Wizards"
            class="de.roma.cocktail.assistent.wizards.NewWizard"
            icon="icons/newprj_wiz.gif" 
            id="de.roma.cocktail.assistent.wizards.NewWizard"
            name="Compiler-Projekt">
      </wizard>
   </extension>

</plugin>
