<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Compiler"
            id="Compiler Wizards">
      </category>
      <wizard
            category="Compiler Wizards"
            class="de.roma.cocktail.assistent.wizards.NewWizard"
            icon="icons/newprj_wiz.gif" 
            id="de.roma.cocktail.assistent.wizards.NewWizard"
            name="Compiler-Projekt">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/icon_date.png"
            id="de.roma.cocktail.assistent.projectfolder"
            natureId="de.roma.cocktail.assistent.projectfolder">
      </image>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	  <page name="Cocktail Compiler Tools"
			class="de.roma.cocktail.preference.CCTPreferencePage"
			id="de.roma.cocktail.preference.CCTPreferencePage"/>
   </extension>
   <extension
   		 point="org.eclipse.core.runtime.preferences">
      <initializer
       		class="de.roma.cocktail.preference.CCTPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="de.roma.cocktail.assistent.launch.LaunchConfiguration"
            id="de.roma.cocktail.assistent.launchConfigurationType1"
            modes="run, debug"    
            name="CompilerLaunch">
      </launchConfigurationType>
   </extension>
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
        icon="icons/compile.png"
        configTypeID="de.roma.cocktail.assistent.launchConfigurationType1"
        id="de.roma.cocktail.assistent.launchConfigurationTypeImage.Launcher">
    </launchConfigurationTypeImage>
</extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="de.roma.cocktail.assistent.launch.LauncherTabGroup"
            id="de.roma.cocktail.assistent.launchConfigurationTabGroup1"
            type="de.roma.cocktail.assistent.launchConfigurationType1">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="de.roma.cocktail.assistent.launch.LauncherShortcut"
            id="de.roma.cocktail.assistent.shortcut1"
            label="Cocktail Tools Compile"
            icon="icons/compile.png"
            modes="run, debug">
             <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                 <or>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.scan"/>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.pars"/>
                 </or>
               </iterate>
             </with>
           </enablement>
  		 </contextualLaunch>
      </shortcut>
   </extension>
   
   <extension 
   id="de.roma.cocktail.parserType"
   point="org.eclipse.core.contenttype.contentTypes">
   <content-type 
   				 base-type="org.eclipse.core.runtime.text"
                 file-extensions="pars"
                 id="parserSource"
                 name="Parser Sourcefile"
                 priority="normal">
   </content-type>
</extension>
</plugin>
